
.gamebody
{
    width: 100%;
    background: linear-gradient(45deg,#c41fc4,#1e4cc9);
}
#gamescreenstart
{
    margin-top:100px;
    width:1000px;
    height: 500px;
    border-radius: 20px;
    z-index: 0;
    background-color: #262626 !important;
    background: url(ressources/geometry.gif) no-repeat center center;
    background-size: 40%;
}
.BBB
{
    animation: squeeze 0.5s ease-in-out ;

}
#startgame
{   
    position: absolute;
    left: 42%;
    top: 80%;
    height: 50px;
    width: 200px;
    z-index: 100;
    font-weight: bold;
    font-size: 25px;
    background-color:#5f5ffd;
    border: 4px solid #252583;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 1s;
}
#startgame:hover
{
    transition: 1s;

    height:70px;
    width:200;
}
#canvas
{
    position: relative;
    background:linear-gradient(black,10%,#00008B,black    )  ;   
     width: 1000px;
    height: 500px;
    border-radius: 20px;
    top: -150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#maps
{
    margin: 130px;
    display: flex ;
}
#map1
{   
    margin: 10px;
    top: 70px;
    left: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 5px solid;
    animation: float infinite 2.5s ease-in-out;
    z-index: 100;
    cursor: pointer;
    transition:1s;
}
#map2
{       margin: 10px;

    top: 70px;
    left: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 5px solid;
    animation: float infinite 2.5s ease-in-out;
    z-index: 100;
    cursor: pointer;
    transition:1s;
}
#map3
{       margin: 10px;

    top: 70px;
    left: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 5px solid;
    animation: float infinite 2.5s ease-in-out;
    z-index: 100;
    cursor: pointer;
    transition:1s;
}
#map4
{       margin: 10px;

    top: 70px;
    left: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 5px solid;
    animation: float infinite 2.5s ease-in-out;
    z-index: 100;
    cursor: pointer;
    transition:1s;
}
#map1:hover,
#map2:hover,
#map3:hover,
#map4:hover
{
    transition: 1s;
    margin: 20px;
}
.red
{
    position:absolute;
    left: 370px;
    top: 140px;
    background-color: red;
    width: 100px;
    height: 100px;
    z-index: 100;
    border-radius: 50%;
    border: 6px solid rgb(155, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.red-focus
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blue
{
    position:absolute;
    left: 260px;
    top: 140px;
    background-color: blue;
    width: 100px;
    height: 100px;
    z-index: 100;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 155);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.blue-focus
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.green
{
    position:absolute;
    left: 150px;
    top: 140px;
    background-color: rgb(0, 255, 0);
    width: 100px;
    height: 100px;
    z-index: 100;
    border-radius: 50%;
    border: 6px solid rgb(0, 155, 0);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.green-focus
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.player
{   
    top: 490px;
    left: 200px;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    background-color:white;
    border: 1px solid;
    border-radius: 5px;
    border-image-slice: 1;
    border-width: 3px;
    animation: playerfloat 1s infinite ease-in-out;
}

@keyframes playerfloat {
    0% {
      margin-top: 0px;
    }
    50% {
      margin-top: 2px;
    }
    100% {
      margin-top: 0px;
    }
  }
#time
{
    position: absolute;
    left: 50%;
    top: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
#ennemy1,
#ennemy3,
#ennemy2,
#ennemy4
{
    top: 490px;
    left: 1100px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color:white;
    border: 5px solid;
    border-radius: 50%;
    animation: playerfloat 0.7s infinite;

}
#score
{
    position: absolute;
    left: 80%;
    top: 135px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.beem
{
    top: 400px;
    left: 420px;
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 100;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color:white;
}
.AAA
{
    transition: ease width 0.4s ;
    width: 730px;
    height: 200px;
    
}
@keyframes squeeze {
    0% 
    {
      margin-top: 100px;
    }
    14% 
    {
      margin-top: 90px;
    }
    28% 
    {
      margin-top: 100px;
    }
    32% 
    {
        margin-top: 90px;
    }
    46% 
    {
        margin-top: 100px;
    }
    60% 
    {
        margin-top: 90px;
    }
    74% 
    {
        margin-top: 100px;
    }
    88% 
    {
        margin-top: 90px;
    }
    92% 
    {
        margin-top: 100px;
    }
  }
  #lost
  {
    top: 200px;
    left: 35%;
    position: absolute;
    width: 350px;
    height: 300px;
    background-color:purple;
    border: 5px solid;
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
}
#win
  {
    top: 200px;
    left: 35%;
    position: absolute;
    width: 350px;
    height: 300px;
    background-color:purple;
    border: 5px solid;
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
}
#lost h2
{
    margin-left: 110px;
    margin-top: 20px;
    color: aliceblue;
}
#restart
{
    position: absolute;
    left: 20%;
    top: 70%;
    height: 50px;
    width: 200px;
    z-index: 100;
}
#eye
{
    margin: 10px;
    z-index: 101;
    width: 90px;
}
#hand
{
    position: absolute;
    left: 250px;
    top: 500px;
    z-index: 100;
}
#wand
{
    position: absolute;
    left: 340px;
    top: 450px;
    width: 20px;
    z-index: 99;
    rotate: 20deg;
}
#angryface
{
    width: 100px;
    z-index: 101;
}
#feet
{
    position: absolute;
    left: 190px;
    top:560px;
}